ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
ruff
scikit-learn
tqdm
typer
certifi
charset-normalizer
idna
requests
urllib3
cptac
openpyxl
pyarrow
python-snappy
pathlib
argparse
-e .
